.inbox{
    background-color: chocolate;
    height: 300px;
    margin: 15px 0px;
}.inbox1{
    background-color: plum;
    height: 300px;
    margin: 15px 0px;
}
.inbox2{
    background-color: mediumturquoise;
    height: 300px;
    margin: 15px 0px;
}