.b1{
    background-color: cadetblue;
    height: 500px;
    width: 500px;
    position: static;
    position: absolute;
    left: 15px;
    bottom: 50px;
}
.b2{
    background-color:aqua;
    height: 200px;
    width: 200px;
    position: fixed;
    right: 15px;
    bottom: 50px;
}
.b3{
    background-color:burlywood;
    height: 300px;
    width: 300px;
    position: absolute;
    right: 15px;
    bottom: 50px;
}
